<div class="container mt-3 mb-3 ">
  <div class="d-flex justify-content-center">
<h1>Task details</h1>
</div>
  <div class="d-flex justify-content-center">
<p><strong>You need to be:</strong> <%= @task.title %></p>
</div>
  <div class="d-flex justify-content-center">
<p><strong>Details :</strong> <%= @task.details %></p>
</div>
  <div class="d-flex justify-content-center">
<p><strong>Completed :</strong> <%= @task.completed ? 'yes' : 'no' %></p>
</div>
  <div class="d-flex justify-content-center">
<%= link_to 'Back to menu', tasks_path, class: 'btn btn-primary mt-5' %>
</div>
</div>
</div>
